h1 {
    color: purple;
}
 h1 { text-align: center
 }

h2 {
    color: darkmagenta;
    text-decoration: underline;
}

body {
    background-color: cornflowerblue;
    background-image: url("http://www.example.com/images/bck.png");
    font-family: Cormorant Garamond;
}

ul {
    list-style: square;
}

table {
    font-family: Oswald;
}
a:hover {
    color: white;
}